fastapi
uvicorn[standard]
sqlalchemy[asyncio]
aiomysql
python-dotenv
pydantic[email]
bcrypt
PyJWT
openpyxl
python-docx
python-pptx
fpdf2
tzdata
pypdf
msoffcrypto-tool
aspose-words
python-jose
boto3
python-multipart
